@import url('https://fonts.googleapis.com/css2?family=Product+Sans&family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.fc-prev-button, .fc-next-button {
    background-color: transparent !important; /* Set background color to transparent */
    border: none; /* Remove border */
    color: inherit !important; /* Use the default text color */
}

.fc .fc-toolbar{
    justify-content: space-around;
}
.fc .fc-button-primary{
    border: none;
}


